<!-- Course Content Section -->
<ion-list class="course-content">
    <ion-accordion-group multiple="true">
      <!-- Section 1 -->
      <ion-accordion value="section1">
        <ion-item slot="header" color="light">
          <ion-label>Section 1: Course Introduction</ion-label>
        </ion-item>
        <ion-list class="ion-padding" slot="content">
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>1. Welcome To This Course (3min)</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>2. READ BEFORE YOU START! (1min)</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>3. E-Book Resources 2.0 (1min)</ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>
  
      <!-- Section 2 -->
      <ion-accordion value="section2">
        <ion-item slot="header" color="light">
          <ion-label>Section 2: The 25+ Guidelines Of Amazing Web Design</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>4. Introduction to Web Design (4min)</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>5. Beautiful Typography (9min)</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>6. Using Colors Like a Pro (7min)</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>7. The Meaning Of Colors In Web Design (1min)</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>8. Working With Images (5min)</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>9. Use CSS To Work With Images (3min)</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Quiz 1: Web Design Quiz 1</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>10. Working With Icons (3min)</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>11. Spacing And Layout (4min)</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>12. Introduction To User Experience (3min)</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>13. Getting Inspired: The Secret Ingredient For Stunning Web Design (2min)</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Quiz 2: Web Design Quiz 2</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>14. 8 Super Effective Ways To Improve Your Website’s Conversion (5min)</ion-label>
          </ion-item>
        </div>
      </ion-accordion>
  
      <!-- Section 3 -->
      <ion-accordion value="section3">
        <ion-item slot="header" color="light">
          <ion-label>Section 3: Course Summary</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>15. Wrapping Up What We’ve Learned (1min)</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>16. The Ultimate Cheatsheet: All Guidelines In One Place (2min)</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>17. Slides For This Course (1hr 39min)</ion-label>
          </ion-item>
        </div>
      </ion-accordion>
  
      <!-- Section 4 -->
      <ion-accordion value="section4">
        <ion-item slot="header" color="light">
          <ion-label>Section 4: Conclusion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>18. Where To Go From Here? (3min)</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>19. Bonus Lecture (1min)</ion-label>
          </ion-item>
        </div>
      </ion-accordion>
  
    </ion-accordion-group>
  </ion-list>
  